<template>
    <div>
        <a v-if="showOpenLinkFlag" @click="showModal()">
            <slot name="link"></slot>
        </a>
        <transition name="modal" v-if="show || showFromProp">
            <div class="modal-mask" @click="handleClose">
                <div class="modal-wrapper">
                    <div class="modal-container" :style="{width, height}" @click.stop>
                        <a class="modal-close" @click="handleClose"> </a>
                        <div class="modal-body" :style="{overflow}">
                            <div v-if="serverResponse" v-html="serverResponse"></div>
                            <div v-else>
                                <slot name="body"></slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script type="text/javascript">

    export default {
        data() {
            return {
                show            : false,
                serverResponse  : null,
                showOpenLinkFlag: true
            }
        },
        methods: {
            handleClose() {
                this.show = false;
                this.$emit('modalClosed');
            },
            showModal() {
                this.$emit('beforeOpen');

                if (this.url) {


                    const method = this.serverData ? 'POST' : 'GET';

                    this.ext.httpRequest.getServerData(this.url, method, this.serverData).then((data) => {
                        this.serverResponse = data;
                        this.show = true;
                    });
                } else {
                    this.show = true;
                }

                this.$emit('modalOpen');
            }
        },
        props  : ['url', 'width', 'height', 'overflow', 'show-from-prop', 'server-data', 'show-open-link'],
        mounted() {

            this.showOpenLinkFlag = this.showOpenLink !== false;

            document.addEventListener('closeModalForced', () => {
                this.handleClose();
            })
        },
        watch  : {
            showFromProp() {
                if (this.showFromProp) {
                    this.showModal();
                } else {
                    this.handleClose();
                }
            }
        }
    }
</script>