{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {% set _has_filters = _entity_config.list.filters|default(false) %}
    {% if _has_filters %}
        {% set _applied_filters = app.request.attributes.get('easyadmin').filters.applied|default(false) %}
        {{ block('filters_action') }}
    {% endif %}

    {{ block('search_action') }}

    {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
        {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
        {% block new_action %}
            <div class="button-action">
                <a class="{{ _action.css_class|default('') }}"
                   href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}"
                   target="{{ _action.target }}">
                    {% if _action.icon %}<i class="fa fa-fw fa-{{ _action.icon }}"></i>{% endif %}
                    {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
                </a>
            </div>
        {% endblock new_action %}
    {% endif %}
{% endblock %}