{% if value is null %}
    {{ include(entity_config.templates.label_null) }} {# otherwise `null` will be displayed as `0,00 €` #}
{% else %}
    {{ (value/100)|number_format(2, ',', '.') }} € {# you can omit the `number_format()` filter if you don’t want the cents to be shown #}
{% endif %}