﻿<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<КоммерческаяИнформация ВерсияСхемы="2.04" ДатаФормирования="{{ 'now'|date("Y-m-d") }}">
    {% for order in orders %}
{#        <Документ>#}
{#            <Ид>{{ order.id }}</Ид>#}
{#            <Номер>{{ order.id }}</Номер>#}
{#            <Дата>{{ order.createdAt|date('Y-m-d') }}</Дата>#}
{#            <ХозОперация>Заказ товара</ХозОперация>#}
{#            <Роль>Продавец</Роль>#}
{#            <Валюта>руб</Валюта>#}
{#            <Курс>1</Курс>#}
{#            <Сумма>{{ order.total }}</Сумма>#}
{#            <Контрагенты>#}
{#                <Контрагент>#}
{#                    <Ид>{{ order.customer.id }}</Ид>#}
{#                    <Наименование>{{ order.customer.lastName ~ ' ' ~ order.customer.firstName|first|upper ~ '.' ~ order.customer.middleName|first|upper ~ '.' }}</Наименование>#}
{#                    <Роль>Покупатель</Роль>#}
{#                    <ПолноеНаименование>{{ order.customer.lastName ~ ' ' ~ order.customer.firstName ~ ' ' ~ order.customer.middleName }}</ПолноеНаименование>#}
{#                    <Фамилия>{{ order.customer.lastName }}</Фамилия>#}
{#                    <Имя>{{ order.customer.firstName }}</Имя>#}
{#                    <Отчество>{{ order.customer.middleName }}</Отчество>#}
{#                </Контрагент>#}
{#            </Контрагенты>#}
{#            <Время>{{ 'now'|date('H:i:s') }}</Время>#}
{#            <Комментарий>Заказ с сайта</Комментарий>#}
{#            <Товары>#}
{#                {% for orderItem in order.orderItems %}#}
{#                    <Товар>#}
{#                        <Ид>{{ orderItem.orderItemProduct.externalId }}</Ид>#}
{#                        <ИдКаталога>8a72b038-482e-476b-b6f5-6ed33f6e7114</ИдКаталога>#}
{#                        <Наименование>{{ orderItem.orderItemProduct.name }}</Наименование>#}
{#                        <БазоваяЕдиница Код="796" НаименованиеПолное="Штука" МеждународноеСокращение="PCE">шт</БазоваяЕдиница>#}
{#                        <ЦенаЗаЕдиницу>{{ orderItem.orderItemOffer.price }}</ЦенаЗаЕдиницу>#}
{#                        <Количество>{{ orderItem.amount }}</Количество>#}
{#                        <Сумма>{{ (orderItem.orderItemOffer.price * orderItem.amount) }}</Сумма>#}
{#                        <ЗначенияРеквизитов>#}
{#                            <ЗначениеРеквизита>#}
{#                                <Наименование>ВидНоменклатуры</Наименование>#}
{#                                <Значение>Товар</Значение>#}
{#                            </ЗначениеРеквизита>#}
{#                            <ЗначениеРеквизита>#}
{#                                <Наименование>ТипНоменклатуры</Наименование>#}
{#                                <ЗначениеРеквизита>Товар</ЗначениеРеквизита>#}
{#                            </ЗначениеРеквизита>#}
{#                        </ЗначенияРеквизитов>#}
{#                    </Товар>#}
{#                {% endfor %}#}
{#            </Товары>#}
{#        </Документ>#}
        <Документ>
            <Ид>25b54e86-e909-11e3-b256-00248cae1f0f</Ид>
            <Номер>09.04.2014 0:46:38</Номер>
            <Дата>09.04.2014 0:46:38</Дата>
            <ХозОперация>Заказ товара</ХозОперация>
            <Роль>Продавец</Роль>
            <Валюта>RUB</Валюта>
            <Курс>1.0000</Курс>
            <Сумма>7503.00</Сумма>
            <Время>09.04.2014 0:46:38</Время>
            <Комментарий>№ 102 localhost</Комментарий>
            <Контрагент>
                <Ид>4659b786-be79-11e3-826d-00248cae1f0f</Ид>
                <Наименование>Test Test</Наименование>
                <Роль>Покупатель</Роль>
                <ПолноеНаименование>Test Test</ПолноеНаименование>
            </Контрагент>
            <Товары>
                <Товар>
                    <Ид>22a6b2be-aae3-11e3-93cd-00248cae1f0f#b02e283e-720f-11df-b436-0015e92f2802</Ид>
                    <Артикул>849943893</Артикул>
                    <Наименование>Ботинки</Наименование>
                    <БазоваяЕдиница Код="715" НаименованиеПолное="Пара (2 шт.)" МеждународноеСокращение="NPR">пар</БазоваяЕдиница>
                    <ЦенаЗаЕдиницу>1200.00</ЦенаЗаЕдиницу>
                    <Количество>2</Количество>
                    <Сумма>2400.00</Сумма>
                    <ЗначенияРеквизитов>
                        <ЗначениеРеквизита>
                            <Наименование>ВидНоменклатуры</Наименование>
                            <Значение>Обувь</Значение>
                        </ЗначениеРеквизита>
                        <ЗначениеРеквизита>
                            <Наименование>ТипНоменклатуры</Наименование>
                            <Значение>Товар</Значение>
                        </ЗначениеРеквизита>
                    </ЗначенияРеквизитов>
                </Товар>
            </Товары>
            <ЗначенияРеквизитов>
                <ЗначениеРеквизита>
                    <Наименование>Номер по 1С</Наименование>
                    <Значение>ТДЦБ-000015</Значение>
                </ЗначениеРеквизита>
                <ЗначениеРеквизита>
                    <Наименование>Дата по 1С</Наименование>
                    <Значение>2014-06-01T0:20:10</Значение>
                </ЗначениеРеквизита>
                <ЗначениеРеквизита>
                    <Наименование>ПометкаУдаления</Наименование>
                    <Значение>false</Значение>
                </ЗначениеРеквизита>
                <ЗначениеРеквизита>
                    <Наименование>Проведен</Наименование>
                    <Значение>true</Значение>
                </ЗначениеРеквизита>
            </ЗначенияРеквизитов>
        </Документ>
    {% endfor %}
</КоммерческаяИнформация>