<template>
    <div class="container">
        <div class="d-flex">
            <div class="w-50">
                <h3>Добавить группу</h3>
                <div class="d-flex input-group">
                    <input type="text" v-model="newGroupName">
                    <a href="javascript:void(0)" class="btn btn-primary" @click="addGroup">+</a>
                </div>
            </div>
            <div class="w-50">
                <h3>Добавить позицию</h3>
                <div class="d-flex input-group">
                    <input type="text" v-model="newNodeName">
                    <a href="javascript:void(0)" class="btn btn-primary" @click="addNode()">+</a>
                </div>
            </div>
        </div>
        <ul>
            <li class="root">ROOT</li>
        </ul>
    </div>
</template>

<script>
import VueDiagramEditor from 'vue-diagram-editor';
import 'vue-diagram-editor/dist/vue-diagram-editor.css';

export default {
    components: {VueDiagramEditor},
    data() {
        return {
            newGroupName: '',
            newNodeName: '',
            nodes: [],
            groups: []
        }
    },
    methods: {
        addGroup() {
            this.groups.push({
                title: this.newGroupName
            });

            this.newGroupName = '';
        },
        addNode() {
            this.nodes.push({
                title: this.newNodeName
            });

            this.newNodeName = '';
        }
    },
    mounted() {
    },
    name: "ConfigurationTree"
}
</script>

<style scoped>

</style>
