.tree-wrapper {
    min-height: 70vh;
}

.admin-tree ul, .admin-tree {
    list-style-type: none;
}

.admin-tree {
    margin: 32px;
    padding: 0;
    width: 95%;
}

.admin-tree li {
    vertical-align: middle;
}

.admin-tree li > *:not(ul) {
    display: inline-block;
    vertical-align: middle;
}

.tree-level {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.tree-level .products {
    padding-left: 32px;
    margin-bottom: 16px;
}

.tree-level .products .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    padding: 8px 0;
}

.tree-level .products .product:not(:last-child) {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.tree-level .products .product > * + * {
    margin-left: 16px;
}

.tree-level .products .image {
    text-align: center;
    width: 120px;
    height: 60px;
}

.tree-level .products .image img {
    width: auto;
    height: 100%;
}

.admin-tree .title {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
}

.title .title-text {
    margin-left: 8px;
    margin-right: 16px;
    min-width: 200px;
}

.admin-tree .nested {
    padding-left: 16px;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.nested {
    display: none;
}

.active {
    display: block;
}

.actions {
    margin-left: auto;
}

.title > a.title-text,
.controls > a.fa {
    color: var(--text-color-dark);
}

.admin-tree .image {
    max-width: 300px;
    height: 30px;
    overflow: hidden;
    text-align: center;
}

.admin-tree .image img {
    width: auto;
    height: 100%;
}

.field-sale_prices_embedded_form .field-collection-item-row {
    position: relative;
    box-shadow: 0 0 0 1px rgba(43,45,80,.16), 0 0 0 1px rgba(6,122,184,0), 0 0 0 2px rgba(6,122,184,0), 0 1px 1px rgba(0,0,0,.08);
    border-radius: 4px;
    padding: 16px;
}

.field-sale_prices_embedded_form .field-collection-item-row .field-collection-item-action {
    position: absolute;
    right: 16px;
    top: 0;
}

.field-sale_prices_embedded_form .field-collection-item-row .form-group {
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    margin-bottom: 16px;
}

.field-sale_prices_embedded_form .field-collection-item-row .form-group label {
    text-align: left;
    width: 90px;
    flex-basis: auto;
}

.form-group.field-product_properties_form {
    display: block;
}

.form-group.field-product_properties_form legend {
    width: 85%;
    font-size: 22px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

.form-group.field-product_properties_form .form-group {
    display: flex;
    flex-wrap: nowrap;
}

.form-group.field-product_properties_form .form-group .form-widget {
    margin-left: 8px;
    max-width: 56%;
}

.buyer-info {
    list-style: none;
    padding-left: 0;
}

.form-control > .buyer-info > .buyer-info-row {
    border-top: solid 1px #cccccc;
    padding: 16px 8px;
}

.form-control > .buyer-info > .buyer-info-row:first-child {
    border-top: solid 1px transparent;
}

.buyer-info .buyer-info {
    padding-left: 16px;
}

.buyer-info .label,
.buyer-info .value {
    display: inline-block;
}

.buyer-info .label {
    font-weight: bold;
    min-width: 180px;
}

.field-product_property_embedded_form legend,
.field-offer_embedded_form legend {
    display: none;
}

.field-gallery_item_embedded_form .field-collection-item-action,
.field-shop_socials_form .field-collection-item-action,
.field-shop_email_form .field-collection-item-action,
.field-shop_operator_email_form .field-collection-item-action,
.field-slide_form .field-collection-item-action,
.field-shop_phone_form .field-collection-item-action,
.field-shop_address_form .field-collection-item-action,
.field-shop_counter_form .field-collection-item-action,
.field-product_property_embedded_form .field-collection-item-action,
.field-product_equipment_embedded_form .field-collection-item-action {
    margin-left: auto;
}

.field-gallery_item_embedded_form .form-widget-compound > div,
.field-shop_socials_form .form-widget-compound > div,
.field-shop_email_form .form-widget-compound > div,
.field-shop_operator_email_form .form-widget-compound > div,
.field-slide_form .form-widget-compound > div,
.field-product_property_embedded_form .form-widget-compound > div,
.field-product_equipment_embedded_form .form-widget-compound > div,
.field-shop_phone_form .form-widget-compound > div,
.field-shop_address_form .form-widget-compound > div,
.field-shop_counter_form .form-widget-compound > div,
.field-offer_embedded_form .form-widget-compound > div {
    display: flex;
}

.field-gallery_item_embedded_form .form-widget-compound > div {
    flex-direction: column;
}

.field-gallery_item_embedded_form .form-widget-compound > div legend {
    margin-left: 0;
    text-align: left;
    font-weight: bold;
    margin-top: 16px;
}

.field-slide_form .form-widget-compound > div .form-group legend.col-form-label {
    text-align: left;
    font-weight: bold;
}

.field-slide_form .form-widget-compound > div .form-group {
    margin-bottom: 16px;
    align-items: flex-start;
    width: 100%;
}

.field-slide_form .form-widget-compound > div {
    flex-wrap: wrap;
}

.field-gallery_item_embedded_form .field-collection-item-row,
.field-shop_socials_form .field-collection-item-row,
.field-product_gallery_image_embedded_form .field-collection-item-row,
.field-shop_email_form .field-collection-item-row,
.field-shop_operator_email_form .field-collection-item-row,
.field-slide_form .field-collection-item-row,
.field-shop_address_form .field-collection-item-row,
.field-shop_counter_form .field-collection-item-row,
.field-shop_phone_form .field-collection-item-row,
.field-product_property_embedded_form .field-collection-item-row,
.field-product_equipment_embedded_form .field-collection-item-row,
.field-offer_embedded_form .field-collection-item-row {
    display: flex;
    border: solid 1px #CCC;
    padding: 10px;
    border-radius: 4px;
    background: #FFF;
}

.field-gallery_item_embedded_form .form-widget-compound > div .form-group,
.field-shop_socials_form .form-widget-compound > div .form-group,
.field-shop_socials_form .form-widget-compound > div .form-group,
.field-product_gallery_image_embedded_form .form-widget-compound > div .form-group,
.field-shop_email_form .form-widget-compound > div .form-group,
.field-shop_operator_email_form .form-widget-compound > div .form-group,
.field-slide_form .form-widget-compound > div .form-group,
.field-shop_address_form .form-widget-compound > div .form-group,
.field-shop_counter_form .form-widget-compound > div .form-group,
.field-shop_phone_form .form-widget-compound > div .form-group,
.field-product_property_embedded_form .form-widget-compound > div .form-group,
.field-product_equipment_embedded_form .form-widget-compound > div .form-group,
.field-offer_embedded_form .form-widget-compound > div .form-group {
    padding-bottom: 0;
}

.field-gallery_item_embedded_form .form-widget-compound > div .form-group label,
.field-shop_socials_form .form-widget-compound > div .form-group label,
.field-product_gallery_image_embedded_form .form-widget-compound > div .form-group label,
.field-shop_email_form .form-widget-compound > div .form-group label,
.field-shop_operator_email_form .form-widget-compound > div .form-group label,
.field-slide_form .form-widget-compound > div .form-group label,
.field-shop_address_form .form-widget-compound > div .form-group label,
.field-shop_counter_form .form-widget-compound > div .form-group label,
.field-shop_phone_form .form-widget-compound > div .form-group label,
.field-product_property_embedded_form .form-widget-compound > div .form-group label,
.field-product_equipment_embedded_form .form-widget-compound > div .form-group label,
.field-offer_embedded_form .form-widget-compound > div .form-group label,
.field-offer_embedded_form .form-widget-compound > div .form-group label {
    flex-grow: 1;
    text-align: left;
    font-weight: bold;
}

#product_imageCollection .field-collection-item-row  {}

.form-widget input.form-control#offer_color {
    width: 32px;
    height: 32px;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

#offer_price + .input-group-append {
    margin-top: -1px;
    height: 32px;
}

form#change-status select {
    align-self: center;
    height: 35px;
}

.field-image_embedded_form .form-widget-compound > div,
.field-offer_image_embedded_form .form-widget-compound > div {
    display: flex;
    align-items: center;
    border: solid 1px #CCC;
    background: #FFF;
    padding: 16px;
    position: relative;
}

.field-image_embedded_form .form-widget-compound > div .field-checkbox,
.field-offer_image_embedded_form .form-widget-compound > div .field-checkbox {
    position: absolute;
    top: 48px;
    right: 37px;
    background: #FFF;
    border-bottom-left-radius: 4px;
    padding: 8px;
}

.field-gallery_item_embedded_form .field-collection-item-action,
.field-shop_socials_form .field-collection-item-action,
.field-product_gallery_image_embedded_form .field-collection-item-action,
.field-offer_image_embedded_form .field-collection-item-action,
.field-image_embedded_form .field-collection-item-action {
    position: absolute;
    top: 0;
    right: 8px;
}

.field-gallery_item_embedded_form .field-collection-item-row,
.field-shop_socials_form .field-collection-item-row,
.field-product_gallery_image_embedded_form .field-collection-item-row,
.field-offer_image_embedded_form .field-collection-item-row,
.field-image_embedded_form .field-collection-item-row {
    position: relative;
}

.field-product_gallery_image_embedded_form .form-widget-compound > div .form-widget,
.field-image_embedded_form .form-widget-compound > div .form-widget {
    margin: 0;
}

.field-product_gallery_image_embedded_form .form-widget-compound > div .field-vich_image legend,
.field-image_embedded_form .form-widget-compound > div .field-vich_image legend {
    text-align: left;
}

.field-point_of_sale_schedule_item_form .field-collection-item-row .form-widget-compound > div {
    display: flex;
    align-items: center;
    border: solid 1px #CCC;
    padding: 10px;
    border-radius: 4px;
    background: #FFF;
}

.field-point_of_sale_schedule_item_form .field-collection-item-row {
    position: relative;
}

.field-point_of_sale_schedule_item_form .field-collection-item-row .form-widget-compound > div .form-group label {
    display: block;
    width: 100%;
    text-align: left;
    white-space: nowrap;
}

.field-point_of_sale_schedule_item_form .field-collection-item-action {
    position: absolute;
    right: 12px;
    top: 0;
}

#slider_slides .field-collection-item-row .field-checkbox > .form-widget {
    padding-left: 0;
    margin-left: 0;
}

#slider_slides .field-collection-item-row .easyadmin-vich-image-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slider_slides .field-collection-item-row .easyadmin-vich-image-actions > .input-file-container,
#slider_slides .field-collection-item-row .easyadmin-vich-image-actions > .field-checkbox {
    flex: 1
}

#slider_slides .field-collection-item-row .easyadmin-vich-image-actions > .field-checkbox {
    margin: 12px;
}

.field-shop_socials_form .field-vich_image .easyadmin-vich-image {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.field-shop_socials_form .field-vich_image legend.col-form-label {
    font-weight: bold;
}

.field-shop_socials_form .field-vich_image .easyadmin-vich-image .easyadmin-thumbnail {
    max-width: 42px;
    max-height: 42px;
}

.sl-vue-tree-title {
    display: flex;
    width: 100%;
    align-items: baseline;
}

#edit-discount-form .discount-group fieldset > .row {
    display: flex;
}

#edit-discount-form .discount-group fieldset > .row > div {
    flex-basis: 50%;
    display: block;
}
