{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
    <section class="content-header ">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h2>{{ 'IMPORT_TITLE'|trans }}</h2>
                <span class="small">{{ 'IMPORT_DESC'|trans }}</span>
            </div>
        </div>
    </section>
    <section id="main" class="content-body">

    </section>
    <div class="row">
        <div class="col-12">
            {% set _request_parameters = app.getRequest().query.all() %}
            {{ form_start(form, {'action': path('easyadmin', _request_parameters|merge({ action: 'secondStep' })), 'method': 'POST'}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}