{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
    <section class="content-header ">
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h2>{{ 'COLUMN_MAPPING_TITLE'|trans }}</h2>
                <span class="small">{{ 'COLUMN_MAPPING_DESC'|trans }}</span>
            </div>
        </div>
    </section>
    <section id="main" class="content-body">
        {% set _request_parameters = app.getRequest().query.all() %}
        <form action="{{ path('easyadmin', _request_parameters|merge({ action: 'thirdStep' })) }}" method="POST">
            <input type="hidden" name="fileName" value="{{ fileName }}">
            <input type="checkbox" name="skip_first" id="skip_first">
            <label for="skip_first">{{ 'SKIP_FIRST_ROW'|trans }}</label>
            <table class="table datagrid">
            <thead>
            <tr>
                {% for i, key in rows[0] %}
                <td>
                    <div>
                        <select name="mapping[{{ i }}]" data-widget="select2" class="form-control" data-select2-id="column-mapping-{{ i }}">
                            {% for option in availableColumns %}
                                <option value="{{ option }}">{{ ('COLUMN_MAPPING_' ~ (option ? (option|upper) : 'EMPTY'))|trans }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    {% for td in row %}
                        <td>{{ td }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div style="margin-top: 32px; text-align: right">
                <button type="submit" class="btn btn-primary">{{ 'NEXT'|trans }}</button>
            </div>
        </form>
    </section>
{% endblock %}