{% extends '@EasyAdmin/default/new.html.twig' %}

    {% block entity_form %}
        <div class="position-relative">
            {{ form(form) }}
            <div class="form-group  field-text position-absolute" style="top: 87px;left: 400px;">
                <div class="form-widget">
                    <button id="coupon_code_generate" class="btn btn-primary">{{ 'COUPON_CODE_GENERATE'|trans }}</button>
                </div>
            </div>
        </div>
    {% endblock entity_form %}
