{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block content_title %}{% endblock %}

{% block main %}
    <div class="container-fluid admin-order-info">
        <div class="alert alert-primary" style="display: none" role="alert">
            This is a primary alert—check it out!
        </div>
        <div class="row mt-2 mb-5">
            <div class="col-12"><h1>Заказ #{{ entity.getId() }} от {{ entity.getCreatedAt().format('d.m.Y H:i') }}</h1></div>
            <div class="col-md-6 col-sm-12 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active"><strong>Общее</strong></li>
                    <li class="list-group-item">
                        <div class="key">Номер заказа:</div>
                        <div class="value">{{ entity.getId() }}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="key">Дата создания:</div>
                        <div class="value">{{ entity.getCreatedAt().format('d.m.Y H:i') }}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="key">Дата последнего обновления:</div>
                        <div class="value">{{ entity.getUpdatedAt().format('d.m.Y H:i') }}</div>
                    </li>
                    <li class="list-group-item">
                        <div class="key">Статус: <b>{{ ('ADMIN_ORDER_STATUS_' ~ entity.getStatus()|upper)|trans }}</b></div>
                        <div class="value">
                            <form id="change-status" action="{{ path('order_bundle.update_status', {orderId: entity.getId}) }}" method="post">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Изменить на</span>
                                    </div>
                                    <select name="status" class="form-control form-control-sm" id="status">
                                        {% for status in constant('App\\Modules\\OrderBundle\\Entity\\Order::STATUSES_AVAILABLE') %}
                                            <option {% if status == entity.getStatus() %} selected="selected" {% endif%} value="{{ status }}">{{ ('ADMIN_ORDER_STATUS_' ~ status|upper)|trans }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary ml-2">Применить</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active"><strong>Товары в заказе</strong></li>
                        <li class="list-group-item">
                            <div class="order-item">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Товар</th>
                                        <th scope="col">Цена</th>
                                        <th scope="col">Количество</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, item in entity.getOrderItems().toArray() %}
                                    <tr>
                                        <th scope="row">{{ key + 1}}</th>
                                        <td>
                                            {{ item.name }} {{ item.isPresent ? '<b>(подарок по акции)</b>' : '' }}
                                            {% if item.oderItemConfiguration() %}
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#configuration-{{ key }}">
                                                    Посмотреть конфигурацию
                                                </button>
                                                <div class="modal fade" id="configuration-{{ key }}" tabindex="-1" role="dialog" aria-labelledby="configuration-{{ key }}" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Конфигурация {{ item.name }}</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {% for part in item.getOderItemConfiguration() %}
                                                                    <div class="d-flex align-baseline justify-between">
                                                                        <span class="font-weight-bold">{{ part.levelName }}: </span><span>{{ part.name }}</span>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.price|number_format(2, '.', ',') }} RUB</td>
                                        <td>{{ item.amount }} шт.</td>
                                    </tr>
                                    {% endfor %}
                                    {% if entity.isProvidePresent %}
                                        <tr>
                                            <td colspan="99"><b class="text-center d-block">Предполагается подарок от компании!</b></td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active"><strong>Информация о покупателе</strong></li>
                    {% if entity.customer.type == 'physical' %}
                        <li class="list-group-item">Тип: Физ. лицо</li>
                        <li class="list-group-item">
                            ФИО: {{ entity.customer.firstName ~ ' ' ~ entity.customer.middleName ~ ' ' ~ entity.customer.lastName }}
                        </li>
                    {% endif %}
                    {% if entity.customer.type == 'legal' %}
                        <li class="list-group-item">Тип: Юр. лицо</li>
                        <li class="list-group-item">Вид собственности: {{ entity.customer.typeOfOwnership }}</li>
                        <li class="list-group-item">Наименование компании: {{ entity.customer.companyName }}</li>
                        <li class="list-group-item">ИНН: {{ entity.customer.inn }}</li>
                        <li class="list-group-item">Адрес: {{ entity.customer.address }}</li>
                    {% endif %}
                    <li class="list-group-item">Телефон: <a href="tel:{{ entity.customer.phone }}">{{ entity.customer.phone }}</a></li>
                    <li class="list-group-item">Email: <a href="mailto:{{ entity.customer.email }}">{{ entity.customer.email }}</a></li>
                    <li class="list-group-item">Физический адрес: {{ entity.customer.contactAddress }}</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
                <ul class="list-group">
                    <li class="list-group-item active"><strong>Итого</strong></li>
                    <li class="list-group-item"><h2>{{ entity.total|number_format(2, '.', ',') }} RUB</h2></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('#change-status').submit(function (ev) {
                ev.preventDefault();
                const form = $(this);
                $.ajax({
                    method: 'post',
                    url: ev.target.action,
                    data: form.serialize()
                }).done(function() {
                    window.location.reload();
                });
            });
        });
    </script>
{% endblock %}
