<template>
    <div class="custom-select" v-if="data" :class="className">
        <input v-if="multiple" type="hidden" :name="getEmptyMultipleName()" value="">
        <select style="display:none" :name="name" :multiple="multiple" :id="id" :disabled="disabled">
            <option v-for="item in options" v-bind:value="item.value" :selected="item.selected"
                    :disabled="item.disabled" v-if="!item.hidden">{{ item.label }}
            </option>
        </select>
        <div v-if="!multiple">
            <div @click="(ev) => {toggleList(ev); $emit('hideError')}"
                 :class="(opened ? 'title active' : 'title') + ' ' + (error ? 'wrong-input' : '') ">
                <div>
                    <span :class="{red: currentOptionError}" v-html="currentLabel"></span>
                    <span class="gray" v-if="!currentLabel || currentLabel === ''">{{ placeholder }}</span>
                </div>
                <input @input="filter" @keydown.enter="addCustomOption($event)" class="search" @click.stop
                       v-if="opened && (options.length > 10 || canAddOption)"
                       :placeholder="currentLabel" type="text" name="select-search">
            </div>
            <transition name="fade">
                <ul :class="{select: true, top: !checkBottomSize()}" v-if="opened" @scroll="handleScroll">
                    <li v-for="(option, key) in filteredOptions"
                        v-if="key < visibleRange"
                        :key="option.value"
                        :class="{'selected' : option.selected,  'disabled': option.disabled, 'red': option.error}" @click="select(option)">
                        <component v-if="customOption" :is="customOption" :option="option" @click="select(option)" @deleteRow="deleteRow" />
                        <span v-else v-text="option.label"></span>
                    </li>
                    <li v-if="!filteredOptions.length">Ничего не найдено</li>
                </ul>
            </transition>
        </div>
        <div v-else>
            <div class="input-block relative search-input-wrapper">
                <input type="text" @focus="() => {this.opened = true; $emit('hideError')}" @input="filter" :class="`left search-input  ${error ? 'wrong-input' : ''}`" :value="query"
                       @keydown.enter="addCustomOption($event)" :placeholder="placeholder ? placeholder : 'Найти'">
                <div class="search-icon "></div>
                <div class="reset"></div>
            </div>
            <transition name="fade">
                <ul :class="{select: true, top: !checkBottomSize()}" v-if="opened" @scroll="handleScroll">
                    <li v-for="(option, key) in filteredOptions"
                        :key="option.value"
                        v-if="key < visibleRange"
                        :class="{'selected' : option.selected,  'disabled': option.disabled, 'red': option.error}" @click="select(option)">
                        <component v-if="customOption" :is="customOption" :option="option"
                                   @click="select(option)"></component>
                        <span v-else v-text="option.label"></span>
                    </li>
                    <li v-if="!filteredOptions.length">Ничего не найдено</li>
                </ul>
            </transition>
            <div>
                <span class="selected-item" v-for="(option, index) in options" v-if="option.selected">
                    <span :class="{label: true, red: option.error}">{{ option.label }}</span>
                    <span class="btn icon close" :data-option="option.value" @click.stop
                          @click="deselectOption(option, index)"></span>
                </span>
            </div>
        </div>
        <div v-if="currentOptionError" class="red top-margin-s">{{ currentOptionError}}</div>
    </div>
</template>

<script>
    export default {
        name    : 'base-select',
        data() {
            return {
                options   : [],
                selectNode: [],
                opened    : false,
                toHide    : [],
                dataProp  : {},
                query     : '',
                visibleRange: 15
            }
        },
        computed: {
            selectedOptions: {
                get() {
                    return this.options.filter(item => item.selected)
                },
                set() {
                }
            },
            filteredOptions: function () {
                let query = this.query.toLowerCase();

                if (!query) {
                    return this.options;
                }

                return this.options.filter(function (item) {
                    return item.label && item.label.toString().toLowerCase().indexOf(query) !== -1
                })
            },
            valueProp      : {
                get() {
                    return this.value
                },
                set(optionValue) {
                    if (this.multiple) {
                        this.$emit('input', this.options.filter(option => option.selected).map(option => option.value))
                    } else {
                        this.$emit('input', optionValue)
                    }
                }
            },
            currentOptionError: {
                get() {
                    let option = this.options.find(option => option.selected);

                    if (!option || !option.error) {
                        return '';
                    }

                    return option.error
                }
            },
            currentLabel   : {
                get() {
                    let option = this.options.find(option => option.selected);

                    if (!option) {
                        return '';
                    }

                    return option.label
                }
            },
        },
        props   : ['name', 'id', 'multiple', 'value', 'className', 'custom-option', 'data', 'label-field', 'value-field', 'blank-row', 'can-add-option', 'error', 'placeholder', 'disabled'],
        methods : {
            handleScroll(evt) {
                if (evt.target.offsetHeight + evt.target.scrollTop >= evt.target.scrollHeight) {
                    this.visibleRange += 50;
                }
            },
            filter(evt) {
                this.query = evt.target.value;
            },
            getEmptyMultipleName() {
                if (!this.name) {
                    return '';
                }

                return this.name.substring(0, this.name.length-2);
            },
            getOptionByValue(value) {
                return this.options.find(option => option.value === value.toString());
            },
            getOptionIndexByValue(value) {
                let key = null;

                this.options.forEach((option, index) => {
                    if (option.value === value) {
                        key = index;
                    }
                });

                return key;
            },
            getOptionByLabel(label) {
                return this.options.find(option => option.label === label.toString());
            },
            deselectOption(option) {
                option.selected = false;
                this.valueProp = this.multiple ? this.options.filter((option) => option.selected) : option.value;
            },
            checkBottomSize() {
                let documentHeight = document.body.getBoundingClientRect().height;

                return (documentHeight - this.$el.getBoundingClientRect().y) > 260;
            },
            select(option) {
                if (this.opened) {
                    this.toggleList();
                }

                if (!this.multiple) {
                    this.deselectAllOptions();
                }
                if (option) {
                    option.selected = true;
                    this.valueProp = this.multiple ? this.options.filter((option) => option.selected) : option.value;

                    this.$el.querySelector('select').dispatchEvent(new Event('change'));

                    this.$emit('change', {
                        option: this.options.find(optionEl => optionEl.value === option.value),
                        select: this.selectNode,
                        value : option.value
                    });
                }

                this.query = '';
            },
            deleteRow(option) {
                this.options.splice(this.getOptionIndexByValue(option.value), 1);
            },
            toggleList(ev) {
                if (this.disabled) {
                    return;
                }

                this.query = '';
                this.opened = !this.opened;

                if (this.opened && (this.options.length > 10 || this.canAddOption)) {
                    this.$nextTick(function () {
                        this.$el.querySelector('[name="select-search"]').focus();
                    })
                }
            },
            deselectAllOptions() {
                this.options.forEach(option => {
                    option.selected = false
                });
            },
            createOptions() {

                if (this.blankRow && this.blankRow === true && !this.multiple) {

                    this.options.push({
                        value   : '',
                        label   : '',
                        selected: true,
                        hidden  : false
                    })
                }

                this.dataProp.forEach((prop, index) => {
                    this.options.push(this.createOption(prop));
                });

                if (this.valueProp) {
                    if (this.multiple && Array.isArray(this.valueProp)) {
                        this.valueProp.forEach(value => {
                            let defaultOption = this.getOptionByValue(value);
                            if (defaultOption) {
                                defaultOption.selected = true;
                            }
                        })
                    } else {
                        this.deselectAllOptions();
                        let defaultOption = this.getOptionByValue(this.valueProp.toString());

                        if (defaultOption) {
                            defaultOption.selected = true;
                        } else if (!this.blankRow && this.options.length) {
                            this.options[0].selected = true;
                            this.$emit('input', this.options[0].value)
                        }
                    }
                } else if (!this.multiple && !this.blankRow && this.options.length) {
                    this.options[0].selected = true;
                    this.$emit('input', this.options[0].value)
                }
            },

            addOption(data, value) {
                let newOption = this.createOption({'label':data, 'value':value});
                this.options.push(newOption);

                return newOption;
            },

            deleteOption(key) {
                let index = this.options.findIndex(option => option.value === key);
                if (index !== -1) {
                    this.options.splice(index, 1);
                }
            },

            createOption(item) {
                return {
                    value   : this.valueField && item[this.valueField] ? item[this.valueField].toString() : (item.value || '').toString(),
                    label   : this.labelField && item[this.labelField] ? item[this.labelField].toString() : (item.label || '').toString(),
                    error   : item.error || null,
                    selected: false,
                    hidden  : false
                }
            },
            addCustomOption($event) {

                if (!this.canAddOption) {

                    return;
                }

                $event.preventDefault();


                if (this.multiple) {
                    this.$el.querySelector('.search-input').blur();
                }

                let foundOption = this.getOptionByLabel($event.target.value);

                if (!foundOption) {
                    foundOption = this.addOption($event.target.value, $event.target.value);
                }

                this.select(foundOption);
            },
            clickOutside(evt) {
                if (!this.$el.contains(evt.target)) {
                    this.opened = false;
                    this.visibleRange = 50;
                }
            },
            setData() {
                this.options = [];
                let data = this.ext.data.getData(this.data);
                this.dataProp = Array.isArray(data) ? data : Object.keys(data).map(key => ({
                    label: data[key],
                    value: key
                }));

                this.createOptions();
            },
            watchHandler(newValue, oldValue) {
                if (!newValue && newValue !== '') {
                    this.select();
                    return;
                }
                if (this.multiple) {
                    newValue.forEach((value) => {
                        const option = this.getOptionByValue(value);

                        if (option && !option.selected) {
                            this.select(option);
                        }
                    });

                    if (oldValue) {
                        oldValue.forEach((value) => {
                            if (newValue.indexOf(value) === -1){
                                const option = this.getOptionByValue(value);

                                if (option && !option.selected) {
                                    option.selected = false;
                                }
                            }
                        })
                    }
                } else {
                    const option = this.getOptionByValue(newValue);

                    if (option && !option.selected) {
                        this.select(option);
                    }
                }
            }
        },
        mounted() {
            this.setData();

            document.addEventListener('click', this.clickOutside);
            this.eventBus.$on('click-anywhere', this.clickOutside)
        },
        created() {
            if (this.customOption) {
                this.$options.components[this.customOption.toPascalCase()] = () => import(`./customOptions/${this.customOption.toPascalCase()}.vue`);
            }
        },
        watch: {
            value: function (newValue, oldValue) {
                this.watchHandler(newValue, oldValue)
            },
            valueProp: function (newValue, oldValue) {
                this.watchHandler(newValue, oldValue)
            }
        },
    };
</script>

