{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #logo {
            display: none;
        }
    </style>
{% endblock stylesheets %}