{% extends 'email/base.email.twig' %}

{% block text %}
    <h1>Новый заказ</h1>
    <div>Новый заказ №{{ order.getId() }} был оформлен на сайте</div>
    <div>Данные пользователя</div>
    <ul style="text-align: left">
        {% for key in customer|keys %}
            <li>{{ ('ORDER_CREATED_EMAIL_' ~ key|upper)|trans }}: {{ customer[key]|trans }}</li>
        {% endfor %}
    </ul>
    <div>Товары в заказе</div>
    <table style="width: 100%; text-align: left" border="1">
        <tr>
            <th></th>
            <th>Товар</th>
            <th>Кол-во</th>
            <th>Цена</th>
        </tr>
        {% for key, item in order.getOrderItems() %}
            <tr>
                <td>#{{ key }}</td>
                <td>
                    {{ item.name }}
                    {% if item.oderItemConfiguration %}
                        ({% for part in item.oderItemConfiguration %}{{ part.levelName ~ ': ' ~ part.name }} {{ loop.index0 == item.oderItemConfiguration|length - 1 ? '' : ', ' }}{% endfor %})
                    {% endif %}
                </td>
                <td>{{ item.amount }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
        {% if order.isProvidePresent %}
            <tr>
                <td colspan="99"><b class="text-center d-block">Предполагается подарок от компании!</b></td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">Итого</td>
            <td colspan="2">{{ order.getTotal() }}</td>
        </tr>
    </table>
{% endblock %}
