{% extends 'email/base.email.twig' %}

{% block text %}
    <strong>Благодарим за заказ на сайте lodki.shop</strong>
    <div>Ваш заказ №{{ order.getId() }} успешно оформлен</div>
    <div>Скоро с Вами свяжется менежер.</div><br>
    <div>Ваша ссылка на просмотр заказа: <a href="{{ baseSiteUrl }}order/confirmed/{{ order.getHash() }}">{{ baseSiteUrl }}order/confirmed/{{ order.getHash() }}</a></div>
{% endblock %}
