<template>
    <div class="row p-3">
        <div class="col-3">
            <div>
                <sl-vue-tree @drop="onDrop" @select="updateNodeProducts" v-model="nodes">
                    <template slot-scope="{ node }" slot="toggle">
                        <span class="item-icon mr-1">
                            <i :class="`fa ${node.isExpanded ? 'fa-folder-open' : 'fa-folder'}`" v-if="!node.isLeaf"></i>
                        </span>
                    </template>
                    <template slot="title" slot-scope="{ node }">
                        <i class="fa fa-file mr-1" v-if="node.isLeaf"></i>
                        {{ node.title.category.name }}
                        <a :href="node.title.editAction" class="ml-auto"><i class="fa fa-edit"></i></a>
                        <a :href="node.title.deleteAction" class="ml-2"><i class="fa fa-trash"></i></a>
                    </template>
                </sl-vue-tree>
            </div>
        </div>
        <div class="col-9">
            <table class="table table-bordered table-sm table-striped" v-if="currentCategoryProducts && currentCategoryProducts.length">
                <thead>
                <tr>
                    <th></th>
                    <th>Товар</th>
                    <th>Скидка</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in currentCategoryProducts">
                    <td><div class="preview-image" :style="`background-image: url('${productImagePath}/${product.cover}')`"></div></td>
                    <td><a :href="editProductLinkPattern.replace('%25id%25', product.id)">{{product.name}}</a></td>
                    <td>{{ product.discount? product.discount.title : '' }}</td>
                    <td><a :href="editProductLinkPattern.replace('%25id%25', product.id)" class="ml-auto"><i class="fa fa-edit"></i></a></td>
                    <td><a :href="deleteProductLinkPattern.replace('%25id%25', product.id)" class="ml-2"><i class="fa fa-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</template>

<script>

import SlVueTree from 'sl-vue-tree/dist/sl-vue-tree'
import { VueTreeList, Tree, TreeNode } from 'vue-tree-list'

export default {
    components: {SlVueTree, VueTreeList},
    props: {
        tree: String | null,
        productImagePath: String | null,
        editCategoryLinkPattern: String | null,
        deleteCategoryLinkPattern: String | null,
        editProductLinkPattern: String | null,
        deleteProductLinkPattern: String | null
    },
    data() {
        return {
            nodes: [],
            currentCategoryProducts: []
        };
    },
    methods: {
        async updateNodeProducts(e) {
            const categoryIds = e.map(node => node.title.category.id);
            this.currentCategoryProducts = await this.ext.httpRequest.getServerData('/admin/category/products', 'POST', categoryIds, 'json');
        },
        async onDrop() {
            let flatten = (children, getChildren, level, parent) => Array.prototype.concat.apply(
                children.map(x => ({ ...x, level: level || 1, parent: parent || null })),
                children.map(x => flatten(getChildren(x) || [], getChildren, (level || 1) + 1, x))
            );

            const flatCategories = flatten(this.nodes, item => item.children);

            const positions = flatCategories.map((category, key) => {
                return {
                    categoryId: category.title.category.id,
                    parentId: category.parent?.title.category.id,
                    level: category.level,
                    position: key
                }
            });

            const response = await this.ext.httpRequest.getServerData('/admin/category/position/update', 'POST', JSON.stringify(positions), 'json');
        },
        setPositions(nodes) {
            nodes.forEach(node => {
                if (node.children && node.children.length) {
                    this.setPositions(node.children);
                }

                node.title.category.position = node.ind;
                node.title.category.level = node.level;

                const path = node.path;
                path.pop();

                let parentNode = null;
                let pathElems = this.nodes;

                path.forEach(pathItem => {
                    parentNode = pathElems[pathItem];
                    pathElems = parentNode.children;
                });

                node.title.category.parentId = parentNode.title.category.id;
            })
        },
        createNodeItem(category) {
            return {
                title: {
                    category: category.category,
                    deleteAction: this.deleteCategoryLinkPattern.replace('%25id%25', category.category.id),
                    editAction: this.editCategoryLinkPattern.replace('%25id%25', category.category.id)
                },
                isLeaf: !category.children.length,
                children: category.children,
                isExpanded: false
            }
        },
        formatCategories(tree) {
            const nodes = [];
            tree.forEach(item => {
                if (item.children) {
                    item.children = this.formatCategories(item.children)
                }

                nodes.push(this.createNodeItem(item))
            })

            return nodes;
        }
    },
    mounted() {
        this.nodes = this.formatCategories(JSON.parse(this.tree));
        this.onDrop();
    }
}
</script>

<style scoped>
.preview-image {
    width: 100px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

td {
    vertical-align: middle;
}
</style>
