<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404Error</title>
    <link rel="stylesheet" href="/public/assets/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');
        * {
            font-family: 'Open Sans', Sans-Serif, serif;
        }
    </style>
</head>
<body>
<div style="width: 1215px; margin: 0 auto;">
    <div style="width: 1000px; height: 400px; margin: 90px auto; border: 1px solid #eae3e3; border-radius: 2px; display: flex; flex-direction: column; padding-top: 160px; background-color: #ececec;">
        <div style="font-size: 42px; font-weight: 700; flex: 0 0 70px; margin: 0 auto;">
            Ошибка 404
        </div>
        <p style="font-size: 16px; flex: 0 0 70px; margin: 0 auto; text-align: center; padding: 20px">Кажется что-то
            пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она устарела, была удалена, или был
            введен неверный адрес.</p>
        <div style="display: flex; padding: 0 300px;">
            <a href="/" style="color:#ffffff; text-align: center; background-color: #356aa0; font-size: 14px; cursor: pointer; padding: 8px 0; border: 1px solid #356aa0; border-radius: 2px; width: 180px; margin: 0 auto;">
                Вернуться на главную
            </a>
            <a href="javascript:void(0)" onclick="window.history.back()" style="color:#356aa0; text-align: center; background-color: #ececec; font-size: 14px; cursor: pointer; padding: 8px 0; border: 1px solid #356aa0; border-radius: 2px; width: 180px; margin: 0 auto;">
                Вернуться назад
            </a>
        </div>
    </div>
</div>
</body>
</html>
