<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lodki.shop</title>
</head>
<body style="padding: 0; margin:0; text-align:center">
<div id="mailsoap" style="width: 100%; min-width: 600px; min-height: 325px; height: 100vh; padding-top: 8%; background:#cccccc; font-family: Arial; font-size: 14px; color:#000000">
    <table style="padding: 0; width:600px; height: 60px; background-color: #f4f4f4; border-collapse: collapse; margin-left:auto; margin-right:auto; text-align: center " border="0">
        <tbody>
        </tbody>
    </table>
    <table style="padding-top: 60px; padding-bottom: 15px; width:600px; height: 30px; background-color: #ffffff; margin-left:auto; margin-right:auto; text-align: center " border="0">
        <tbody>
        <tr style="font-size: 14px;height: 50px;vertical-align: bottom">
            <td>
                <div style="font-size: 16px; line-height: 1.5">
                    {% block text %}{% endblock %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="padding-bottom: 60px; width:600px; height: 30px; background-color: #ffffff; margin-left:auto; margin-right:auto; text-align: center " border="0">
        <tbody>
        <tr>
            <td style="height: 50px; text-align: center">
                <div>
                    {% block button %}{% endblock %}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
